<section>
  <div class="container">
    <div class="section-learn">
      <div class="section-learn__col">
        <div class="box-text">
          <h2 class="box-text__headline">Что мы изучаем?</h2>
          <div>На нашем направлении не бывает скучно! 
            Мы учимся создавать крутые рекламные кампании, управлять мнением аудитории и продвигать бренды. Здесь теория встречается с практикой: пишем посты, снимаем сторис, придумываем рекламу 
            и разбираем кейсы реальных компаний. <br>
            Готовьтесь к тому, что после пар будете видеть рекламу везде и анализировать: «А вот здесь можно было бы лучше!»</div>

          <a href="/abiturientu" class="button box-text__button">
            А ЕЩЕ...
            <img src="/assets/images/arrow-right.svg" alt="">
          </a>
        </div>
      </div>
      <div class="section-learn__col">
        <div class="grid-learn">
          <div class="box-learn">
            <img src="/assets/images/learn-1.svg" class="box-learn__img" alt="">
            <div class="box-learn__wrap">
              <div class="box-learn__title">PR: ТЕОРИЯ И ПРАКТИКА</div>
              <div class="box-learn__description">Разбираем, как работают пиарщики в реальном мире: <br>от написания пресс-релизов <br>до организации ивентов</div>
            </div>
          </div>
          <div class="box-learn">
            <img src="/assets/images/learn-2.svg" class="box-learn__img" alt="">
            <div class="box-learn__wrap">
              <div class="box-learn__title">ПРАКТИКА РЕКЛАМЫ</div>
              <div class="box-learn__description">Здесь мы не просто изучаем рекламу — мы ее создаем! От идеи до реализации: учимся превращать скучные брифы в цепляющие кампании</div>
            </div>
          </div>
          <div class="box-learn">
            <img src="/assets/images/learn-3.svg" class="box-learn__img" alt="">
            <div class="box-learn__wrap">
              <div class="box-learn__title">Кризисный pr</div>
              <div class="box-learn__description">Когда случается скандал  — пиарщик должен действовать быстро. Учимся предугадывать риски, разрабатывать антикризисные стратегии <br>и правильно коммуницировать <br>в сложных ситуациях</div>
            </div>
          </div>
          <div class="box-learn">
            <img src="/assets/images/learn-4.svg" class="box-learn__img" alt="">
            <div class="box-learn__wrap">
              <div class="box-learn__title">БРЕНДИНГ</div>
              <div class="box-learn__description">Как создать бренд, который полюбят? Здесь изучаем все: <br>от нейминга и позиционирования <br>до айдентики и упаковки</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>