<section>
  <div class="container">
    <div class="section-hero">
      <img src="/assets/images/hero-1.jpg" alt="" class="section-hero__img section-hero__img--1">
      <img src="/assets/images/fig-1.svg" alt="" class="section-hero__fig section-hero__fig--1">
      <img src="/assets/images/fig-2.svg" alt="" class="section-hero__fig section-hero__fig--2">
      <h1 class="section-hero__headline">Врекламе <br />СГУ</h1>

      <div class="section-hero__row">
        <div class="section-hero__col">
          <div class="box-text">
            <div>Врекламе СГУ - это творческое сообщество, где студенты и преподаватели направления подготовки «Реклама и связи с общественностью» делятся новостями, событиями и ключевыми моментами жизни в стенах юридического факультета Саратовского национального исследовательского государственного университета имени Н.Г. Чернышевского</div>
  
            <a href="/history.html" class="button box-text__button">
              УЗНАТЬ БОЛЬШЕ
              <img src="/assets/images/arrow-right.svg" alt="">
            </a>
          </div>
        </div>

        <div class="section-hero__col section-hero__col--center">
          <div class="scrolldown">
            <svg width="13" height="12" style="transform: rotate(90deg)" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.180905 0.180905C0.400183 -0.0383737 0.743318 -0.0583081 0.985116 0.121101L1.05439 0.180905L6.38235 5.50859L11.7103 0.180905C11.9296 -0.0383737 12.2727 -0.0583081 12.5145 0.121101L12.5838 0.180905C12.8031 0.400183 12.823 0.743318 12.6436 0.985116L12.5838 1.05439L6.8191 6.8191C6.59982 7.03837 6.25668 7.05831 6.01488 6.8789L5.94561 6.8191L0.180905 1.05439C-0.0603016 0.813183 -0.0603016 0.422111 0.180905 0.180905Z" fill="black"/>
            <path d="M0.180905 5.1809C0.400183 4.96163 0.743318 4.94169 0.985116 5.1211L1.05439 5.1809L6.38235 10.5086L11.7103 5.1809C11.9296 4.96163 12.2727 4.94169 12.5145 5.1211L12.5838 5.1809C12.8031 5.40018 12.823 5.74332 12.6436 5.98512L12.5838 6.05439L6.8191 11.8191C6.59982 12.0384 6.25668 12.0583 6.01488 11.8789L5.94561 11.8191L0.180905 6.05439C-0.0603016 5.81318 -0.0603016 5.42211 0.180905 5.1809Z" fill="black"/>
            </svg>
            <span>ЛИСТАЙ</span>
          </div>
        </div>

        <div class="section-hero__col">
          <img src="/assets/images/hero-2.jpg" alt="" class="section-hero__img section-hero__img--2">
        </div>
      </div>
    </div>
  </div>
</section>