<section>
  <div class="container relative">
    <img src="/assets/images/fig-3.svg" alt="" style="position: absolute; left: -20px; bottom: 80px">
    <div class="section-free">
      <div class="section-free__col">
        <div class="box-text">
          <h2 class="box-text__headline">Помимо учебы</h2>
          <div>Участвуем в топовых PR- и рекламных конкурсах в разных городах, организуем ивенты, снимаем вирусный контент и прокачиваем личный бренд. К нам приходят крутые спикеры из индустрии! Спорим о трендах, разбираем кейсы и запускаем собственные проекты</div>

          <a href="/news.html" class="button box-text__button">
            НОВОСТИ
            <img src="/assets/images/arrow-right.svg" alt="">
          </a>
        </div>
      </div>

      <div class="section-free__col">
        <div class="grid-news">
          <div class="news-main">
            <img src="/assets/images/news-1.jpg" alt="" class="news-main__img">
            <div class="news-main__text">
              <div>Гран-при «ЗАПРОСТО»</div>
              <div class="news-main__date">02.04.25</div>
              <a href="/news.html" class="button button--thin button--white">
                ПОДРОБНЕЕ
                <img src="/assets/images/arrow-right-black.svg" alt="">
              </a>
            </div>
          </div>

          <div class="news-item">
            <img src="/assets/images/news-2.jpg" alt="" class="news-item__img">
          </div>

          <div class="news-item">
            <img src="/assets/images/news-3.jpg" alt="" class="news-item__img">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>