<section>
  <div class="container relative">
    <img src="/assets/images/fig-1.svg" style="position: absolute;top: 40px; right:-140px" alt="">
    <img src="/assets/images/fig-2.svg" style="position: absolute;top: 1000px; left:-140px" alt="">
    <h1 class="page-headline">Кейсы наших студентов</h1>

    <div class="section-cases">
      <div class="section-cases__col">
        <div class="box-text">
          <h3 class="box-text__headline-h3">PR-Фестиваль «Запросто»</h3>
          <div>1–2 апреля 2025 года прошел первый городской студенческий PR-фестиваль «ЗАПРОСТО», организованный кафедрой социальных коммуникаций. В нём участвовали 9 команд из ведущих вузов Саратова. Программа включала мастер-классы от экспертов, PR-хакатон и конкурс проектов для реальных заказчиков — стоматологии «ВИНИР», Столыпинского индустриального парка и брендинга Саратовской агломерации. Гран-при выиграла команда «PR-коллегия» (СГУ), разработавшая PR-кампанию для Столыпинского индустриального парка.</div>
  
          <a href="https://disk.yandex.ru/d/4ABslJw2UtrVkA" class="button box-text__button" target="_blank">
            ПОСМОТРЕТЬ КЕЙС
          </a>
        </div>
      </div>

      <div class="section-cases__col">
        <div class="section-cases__image">
          <img src="/assets/images/case-1.jpg" class="section-cases__img" alt="">
  
          <div>
            <b>Авторы:</b> Добросоцкая Анна, Васильченко Юлия, Резникова Дарья, Тахтамысова Наяна, Мамаева Андриана
          </div>
        </div>
      </div>
    </div>

    <div class="section-cases">
      <div class="section-cases__col">
        <div class="box-text">
          <h3 class="box-text__headline-h3">PR-Фестиваль «MCUnite»</h3>
          <div>
            С 22 по 24 ноября 2023 года на базе Московского городского педагогического университета прошел фестиваль «MCUnite» — образовательный проект для студентов, интересующихся PR, рекламой и интегрированными коммуникациями. По итогам трех дней фестиваля в копилке наших студентов сразу несколько наград:<br>
            <b>1.</b> 1 место в решении кейса от спонсора фестиваля – благотворительной организации «Ночлежка», <br>
            <b>2.</b> 2 место в номинации «Лучший студенческий проект коммерческой рекламы». 
          </div>
  
          <a href="https://disk.yandex.ru/d/YamIuppFtAErPw" class="button box-text__button" target="_blank">
            ПОСМОТРЕТЬ КЕЙС
          </a>
        </div>
      </div>

      <div class="section-cases__col">
        <div class="section-cases__image">
          <img src="/assets/images/case-2.jpg" class="section-cases__img" alt="">
  
          <div>
            <b>Авторы:</b> Покровская Мария, Щербатова Анастасия, Козлова Анастасия, Кудря Лиза, Абулкаирова Жасмин, Лебезова Александра
          </div>
        </div>
      </div>
    </div>

    <div class="section-cases">
      <div class="section-cases__col">
        <div class="box-text">
          <h3 class="box-text__headline-h3">PR-Фестиваль «PRКИТ 2024»</h3>
          <div>
            С 29 ноября по 02 декабря в Санкт-Петербурге проходил XVI форум Всероссийский студенческий форум по связям с общественностью в сфере кино и телевидения «PRКИТ 2024», который объединил 51 команду из разных городов России и ближнего зарубежья. Студенты 4 курса направления «Реклама и связи с общественностью» стали призёрами XVI Всероссийского форума «PRКИТ 2024» в Санкт-Петербурге. В составе команды «Даёшь молодёжь» они заняли 2 место в решении кейса для сети «БУШЕ», успешно выступили на научной конференции, участвовали в PR-хакатоне и посетили мастер-классы от ведущих экспертов индустрии.
          </div>
  
          <a href="https://disk.yandex.ru/i/9Sgs6jw39DO0JQ" class="button box-text__button" target="_blank">
            ПОСМОТРЕТЬ КЕЙС
          </a>
        </div>
      </div>

      <div class="section-cases__col">
        <div class="section-cases__image">
          <img src="/assets/images/case-3.jpg" class="section-cases__img" alt="">
  
          <div>
            <b>Авторы:</b> Вильдяева Светлана, Землянская Полина, Менкенова Эльзята, Синтина Анна, Болезина Ульяна
          </div>
        </div>
      </div>
    </div>
  </div>
</section>