<section>
  <div class="container">
    <div class="section-where">
      <div class="section-where__col">
        <div class="box-text">
          <h2 class="box-text__headline">А как к вам попасть? </h2>
          <div>Легко! Лови инструкцию:<br>
            1. Заходи в наши соцсети – там есть все: анонсы, мемы, конкурсы и лайфхаки от старших курсов <br>
            2. Поступай на "Рекламу и связи с общественностью" в СГУ <br>
            3. Твори с нами <br><br>

            Не просто учиться – а создавать, продвигать и побеждать. Ждём именно тебя! 🧡</div>

          <a href="/abiturientu" class="button box-text__button">
            ПОДРОБНЕЕ
            <img src="/assets/images/arrow-right.svg" alt="">
          </a>
        </div>
      </div>

      <div class="section-where__col">
        <div class="quote">
          <blockquote>
            <p>❝ Иные рождаются великими, другие достигают величия, а третьи нанимают специалистов по связям с общественностью ❞</p>
          </blockquote>
          <p>Дэниэл Бурстин</p>
        </div>
      </div>
    </div>
  </div>
</section>