---
import Header from '@/layouts/Header.astro'
import Footer from '@/layouts/Footer.astro'
import '@/assets/styles/index.scss'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/assets/styles/normalize.css">
		<link rel="stylesheet" href="/assets/styles/fonts.css">
		<title>Врекламе</title>
	</head>
	<body>
		<div class="wrapper">
			<Header />

			<main>
				<slot />
			</main>

			<Footer />
		</div>
	</body>
</html>
